@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

body{
  background-color: black;
}

#homePage{
  height: auto;
  padding: 10px;
  background-color: black;
  color: aliceblue;
  font-family: 'Raleway Dots';
}

span{
  font-size: 60px; 
}

#iconBlock{
  display: flex;
  align-items: center;
}

#icon{
  height: 40px;
  width: 40px;
  padding-right: 10px;
}

#footer {
  font-family: 'Raleway Dots';
  position: fixed;
  bottom: 0;
}